// Colors
$background-color: #edf2f7;
$color-white: #fff;
$color-black: #000;
$timeline-main-color: darken($color-white, 20%);
// Breakpoints
$breakpoint-xs: 400px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-md: 1200px;