@import "variables";
$timeline-main-color: $light-black;
#timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    display: none;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 98%;
        height: 100%;
        width: 3px;
        background: $timeline-main-color;
        @media (min-width: $breakpoint-sm) {
            left: 50%;
        }
    }
    .cv-timeline-block {
        width: 92%;
        margin-bottom: 60px;
        position: relative;
        @media (min-width: $breakpoint-sm) {
            width: 100%;
        }
        &.is-hidden {
            visibility: hidden;
        }
        &.bounce-in {
            visibility: visible;
            animation: block-bounce-in 0.6s;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        .cv-timeline-content {
            padding: 18px 14px 14px 20px;
            background-color: $color-white;
            box-shadow: 1px 2px 3px lighten($color-black, 85%);
            position: relative;
            @media (min-width: $breakpoint-sm) {
                width: 45%;
            }
            &:after {
                left: 100%;
                top: 15px;
                border: 6px solid rgba(255, 255, 255, 0);
                content: '';
                position: absolute;
                pointer-events: none;
                border-left-color: $color-white;
            }
            .cv-projet-titre {
                font-size: 1.5em;
                font-family: "Open Sans";
                margin-bottom: 10px;
            }
            .cv-projet-description {
                font-size: 15px;
                line-height: 22px;
                display: inline-block;
            }
            .cv-projet-lieu,
            .cv-projet-type {
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            .cv-projet-lieu {
                padding: 20px 0px 5px;
                p {
                    letter-spacing: 3px;
                    color: darken($color-white, 40%);
                    text-shadow: 0px 0px 1px darken($color-white, 10%);
                    font-size: 0.9em;
                }
            }
            .cv-projet-type {
                text-align: right;
                p {
                    font-size: 1em;
                    display: inline-block;
                    font-family: 'Raleway';
                    padding: 5px 10px;
                    border: 1px solid darken($color-white, 70%);
                    box-shadow: 0px 0px 1px darken($color-white, 20%);
                    color: darken($color-white, 70%);
                    text-shadow: 0px 0px 1px darken($color-white, 20%);
                }
            }
        }
        .cv-timeline-info {
            margin-bottom: 8px;
            display: block;
            height: 35px;
            @media (min-width: $breakpoint-xs) {
                height: 50px;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
            }
            @media (min-width: $breakpoint-sm) {
                float: right;
                width: 45%;
                height: 75px;
                display: block;
                margin-top: 5px;
                margin-bottom: 0;
            }
            @media (min-width: $breakpoint-md) {
                height: 100%;
            }
            .cv-timeline-img {
                display: none;
                opacity: 0.85;
                max-height: 100%;
                width: auto;
                max-width: 50%;
                @media screen and (min-width: 400px) {
                    display: block;
                }
                @media (min-width: $breakpoint-sm) {
                    float: right;
                }
                @media (min-width: $breakpoint-md) {
                    margin-right: 5%;
                }
            }
            .cv-timeline-date {
                float: right;
                @media (min-width: $breakpoint-sm) {
                    float: left;
                }
                p {
                    text-transform: uppercase;
                    text-align: right;
                    font-weight: bold;
                    color: $timeline-main-color;
                    letter-spacing: 2px;
                    font-size: 1.1em;
                    line-height: 17px;
                }
            }
        }
        .cv-timeline-join {
            position: absolute;
            border-top: solid 2px $timeline-main-color;
            width: 6.5%;
            left: 104%;
            top: 63px;
            @media (min-width: $breakpoint-xs) {
                top: 78px;
                left: 103.5%;
            }
            @media (min-width: $breakpoint-sm) {
                left: 47%;
                top: 20px;
            }
        }
    }
    .cv-timeline-block-even {
        @media (min-width: $breakpoint-sm) {
            .cv-timeline-content {
                float: right;
                &:after {
                    left: auto;
                    right: 100%;
                    border-right-color: $color-white;
                    border-left: none;
                }
            }
            .cv-timeline-info {
                float: left;
                .cv-timeline-img {
                    float: left;
                    @media (min-width: $breakpoint-md) {
                        margin-left: 5%;
                        margin-right: 0;
                    }
                }
                .cv-timeline-date {
                    float: right;
                }
            }
        }
    }
}


/* Animations */

@keyframes block-bounce-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}