<h3 class="cv-nom">{{projet.nom}}</h3>
<div class="cv-element flexbox-h">
    <div class="col-xs-12">
        <p><b>{{projet.societe}}</b> - {{projet.lieu}}</p>
        <p>De<span ng-hide="{{projet.dateFin}}">puis</span> <em>{{projet.dateDebut | formatDate | date:'MMMM yyyy' | capitalize}}</em>
            <span ng-show="{{projet.dateFin}}">à <em>{{projet.dateFin | formatDate | date:'MMMM yyyy' | capitalize}}</em></span></p>
        <p class="description">{{projet.description}}</p>
        <img src="images/projets/{{projet.id}}.jpg" class="cv-logo-big">
    </div>
</div>