<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First Angular App</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <!-- End Stylesheets -->

    <!-- AngularJS Scripts -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-i18n/angular-locale_fr-fr.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <!-- End AngularJS Scripts -->
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="MainController">
        <div>
            <a href="cv/{{section.name | lowercase}}" ng-repeat="section in sections" ng-click="activeLink = section.name">{{section.name}}</a>
        </div>

        <section id="projets" class="timeline" ng-show="activeTab == 1">
            <div ng-repeat="projet in sections.projets.content">
                <div timeline-block ng-class-even="'cv-timeline-block-even'" class="cv-timeline-block" info="projet"></div>
            </div>
        </section>

        <section id="competences" ng-repeat="competence in competences">
            <h2>Competences</h2>
            <div competence info="competence"></div>
        </section>

        <!--<section id="logiciels" ng-repeat="logiciel in logiciels">
            <h2>Logiciels</h2>
            <div logiciel info="logiciel"></div>
        </section>

        <section id="langues" ng-repeat="langue in langues">
            <h2>Langues</h2>
            <div langue info="langue"></div>
        </section>-->
    </div>

    <!-- Scripts -->
    <!-- Vendors -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- End Vendors -->
    <script type="text/javascript" src="scripts/main.js"></script>
    <!-- Controllers -->
    <script type="text/javascript" src="scripts/controllers/MainController.js"></script>
    <!-- End Controllers -->
    <!-- Services -->
    <script type="text/javascript" src="scripts/services/dataFetch.js"></script>
    <!-- End Services -->
    <!-- Directives -->
    <script type="text/javascript" src="scripts/directives/formation.js"></script>
    <script type="text/javascript" src="scripts/directives/projet.js"></script>
    <script type="text/javascript" src="scripts/directives/competence.js"></script>
    <script type="text/javascript" src="scripts/directives/logiciel.js"></script>
    <script type="text/javascript" src="scripts/directives/langue.js"></script>
    <script type="text/javascript" src="scripts/directives/activite.js"></script>
    <script type="text/javascript" src="scripts/directives/timelineBlock.js"></script>
    <!-- End Directives -->
    <!-- End Scripts -->
</body>

</html>