<div ng-if="even" class="cv-timeline-block">
    <div class="cv-timeline-content">
        <p class="cv-timeline-titre">{{info.nom}}</p>
        <p class="cv-description">{{info.description}}</p>
        <p class="cv-lieu">{{info.lieu}}</p>
        <!--<a href="#0" class="cd-read-more">Read more</a>-->
    </div>
    <div class="cv-timeline-date">
        <p><span ng-hide="{{info.dateFin}}"></span>{{info.dateDebut | formatDate | date:'MMMM yyyy'}}<span ng-show="{{info.dateFin}}"><br>{{info.dateFin | formatDate | date:'MMMM yyyy'}}</span></p>
    </div>
    <div class="cv-timeline-join"></div>
    <div class="cv-timeline-img">
        <img src="images/{{info.id}}.png" alt="Logo {{info.id}}">
    </div>
</div>

<div ng-if="!even" class="cv-timeline-block cv-timeline-block-reverse">
    <div class="cv-timeline-img">
        <img src="images/{{info.id}}.png" alt="Logo {{info.id}}">
    </div>
    <div class="cv-timeline-content">
        <p class="cv-timeline-titre">{{info.nom}}</p>
        <p class="cv-description">{{info.description}}</p>
        <p class="cv-lieu">{{info.lieu}}</p>
        <!--<a href="#0" class="cd-read-more">Read more</a>-->
    </div>
    <div class="cv-timeline-date">
        <p><span ng-hide="{{info.dateFin}}"></span>{{info.dateDebut | formatDate | date:'MMMM yyyy'}}<span ng-show="{{info.dateFin}}"><br>{{info.dateFin | formatDate | date:'MMMM yyyy'}}</span></p>
    </div>
    <div class="cv-timeline-join"></div>
</div>