@import url("https://fonts.googleapis.com/css?family=Raleway");
#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  display: none; }
  #timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 98%;
    height: 100%;
    width: 3px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
    @media (min-width: 768px) {
      #timeline:before {
        left: 50%; } }
  #timeline .timeline-block {
    width: 92%;
    margin-bottom: 60px;
    position: relative;
    display: block; }
    @media (min-width: 768px) {
      #timeline .timeline-block {
        width: 100%; } }
    #timeline .timeline-block.is-hidden {
      visibility: hidden; }
    #timeline .timeline-block.bounce-in {
      visibility: visible;
      animation: block-bounce-in 0.6s; }
    #timeline .timeline-block:after {
      content: "";
      display: table;
      clear: both; }
    #timeline .timeline-block .timeline-block-content {
      position: relative;
      right: 0;
      cursor: pointer;
      padding: 18px 14px 14px 20px;
      background-color: #fff;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      transition: all 0.4s; }
      @media (min-width: 768px) {
        #timeline .timeline-block .timeline-block-content {
          width: 45%; } }
      #timeline .timeline-block .timeline-block-content:after {
        left: 100%;
        top: 15px;
        border: 6px solid rgba(255, 255, 255, 0);
        content: '';
        position: absolute;
        pointer-events: none;
        border-left-color: #fff; }
      #timeline .timeline-block .timeline-block-content:hover {
        right: -6px; }
      #timeline .timeline-block .timeline-block-content .timeline-block-title {
        font-size: 1.5em;
        font-family: "Open Sans";
        margin-bottom: 10px; }
      #timeline .timeline-block .timeline-block-content .timeline-block-description {
        font-size: 15px;
        line-height: 22px;
        display: inline-block; }
      #timeline .timeline-block .timeline-block-content .timeline-block-location p,
      #timeline .timeline-block .timeline-block-content .timeline-block-type p {
        text-transform: uppercase;
        letter-spacing: 2px; }
      #timeline .timeline-block .timeline-block-content .timeline-block-location {
        padding: 20px 0px 5px; }
        #timeline .timeline-block .timeline-block-content .timeline-block-location p {
          color: gray;
          font-size: 0.9em; }
      #timeline .timeline-block .timeline-block-content .timeline-block-type {
        text-align: right; }
        #timeline .timeline-block .timeline-block-content .timeline-block-type p {
          display: inline-block;
          padding: 5px 10px;
          font-family: 'Raleway';
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          border: 1px solid #4d4d4d;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
    #timeline .timeline-block .timeline-block-info {
      margin-bottom: 8px;
      display: block;
      position: relative;
      height: 35px;
      right: 0;
      transition: all 0.4s; }
      @media (min-width: 400px) {
        #timeline .timeline-block .timeline-block-info {
          height: 50px;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between; } }
      @media (min-width: 768px) {
        #timeline .timeline-block .timeline-block-info {
          float: right;
          width: 45%;
          height: 75px;
          display: block;
          margin-top: 5px;
          margin-bottom: 0; } }
      @media (min-width: 1200px) {
        #timeline .timeline-block .timeline-block-info {
          height: 100%; } }
      #timeline .timeline-block .timeline-block-info .timeline-block-logo {
        display: none;
        opacity: 0.85;
        max-height: 100%;
        width: auto;
        max-width: 50%; }
        @media screen and (min-width: 400px) {
          #timeline .timeline-block .timeline-block-info .timeline-block-logo {
            display: block; } }
        @media (min-width: 768px) {
          #timeline .timeline-block .timeline-block-info .timeline-block-logo {
            float: right; } }
        @media (min-width: 1200px) {
          #timeline .timeline-block .timeline-block-info .timeline-block-logo {
            margin-right: 5%; } }
      #timeline .timeline-block .timeline-block-info .timeline-block-date {
        float: right; }
        @media (min-width: 768px) {
          #timeline .timeline-block .timeline-block-info .timeline-block-date {
            float: left; } }
        #timeline .timeline-block .timeline-block-info .timeline-block-date p {
          text-transform: uppercase;
          text-align: right;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.85);
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          letter-spacing: 2px;
          font-size: 1.1em;
          line-height: 17px; }
    #timeline .timeline-block .timeline-block-join {
      position: absolute;
      border-top: solid 2px rgba(255, 255, 255, 0.85);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      width: 6.5%;
      left: 104%;
      top: 63px; }
      @media (min-width: 400px) {
        #timeline .timeline-block .timeline-block-join {
          top: 78px;
          left: 103.5%; } }
      @media (min-width: 768px) {
        #timeline .timeline-block .timeline-block-join {
          left: 47%;
          top: 20px; } }
    #timeline .timeline-block .timeline-block-modal {
      position: fixed;
      visibility: hidden;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 12% 15%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 100; }
      #timeline .timeline-block .timeline-block-modal .timeline-block-modal-content {
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: 100%;
        padding: 8%;
        position: relative; }
        #timeline .timeline-block .timeline-block-modal .timeline-block-modal-content p {
          width: 80%; }
        #timeline .timeline-block .timeline-block-modal .timeline-block-modal-content .modal-close {
          position: absolute;
          top: 3%;
          right: 3%; }
          #timeline .timeline-block .timeline-block-modal .timeline-block-modal-content .modal-close i {
            font-size: 30px;
            color: black; }
  @media (min-width: 768px) {
    #timeline .timeline-block-even .timeline-block-content {
      float: right; }
      #timeline .timeline-block-even .timeline-block-content:after {
        left: auto;
        right: 100%;
        border-right-color: #fff;
        border-left: none; }
      #timeline .timeline-block-even .timeline-block-content:hover {
        right: 6px; }
    #timeline .timeline-block-even .timeline-block-info {
      float: left; }
      #timeline .timeline-block-even .timeline-block-info .timeline-block-logo {
        float: left; } }
    @media (min-width: 768px) and (min-width: 1200px) {
      #timeline .timeline-block-even .timeline-block-info .timeline-block-logo {
        margin-left: 5%;
        margin-right: 0; } }
  @media (min-width: 768px) {
      #timeline .timeline-block-even .timeline-block-info .timeline-block-date {
        float: right; } }

/* Animations */
@keyframes block-bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  60% {
    opacity: 1;
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
