<!DOCTYPE html>
<html lang="fr">

<head>
    <title>First Angular App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/timeline.css">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <!-- End Stylesheets -->

    <!-- AngularJS Scripts -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-i18n/angular-locale_fr-fr.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <!-- End AngularJS Scripts -->
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="MainController">
        <nav>
            <a href="#" ng-repeat="(sectionName, content) in sections" ng-click="sectionChange(sectionName)" ng-class="getClass(sectionName)">{{sectionName}}</a>
        </nav>

        <section id="experiences" ng-show="activeSection=='experiences'">
            <h2>Experiences</h2>

            <div class="list-order">
                <p>Sort by</p>

                <ul>
                    <li ng-show="isSelected('-dateDebut')">
                        <a href="#" class="order-by" ng-click="sortBy()" ng-class="isSelected('-dateDebut')">Most recent <i class="fa fa-arrow-down"></i></a>
                    </li>
                    <li ng-show="isSelected('dateDebut')">
                        <a href="#" class="order-by" ng-click="sortBy()" ng-class="isSelected('dateDebut')">Least recent <i class="fa fa-arrow-up"></i></a>
                    </li>
                    <li ng-show="isSelected('type')">
                        <a href="#" class="order-by" ng-click="sortBy()" ng-class="isSelected('type')">Type <i class="fa fa-arrow-down"></i></a>
                    </li>
                </ul>
            </div>


            <div id="timeline">
                <div experience element="experience" ng-repeat="experience in sections.experiences | orderBy:propertyName" class="cv-timeline-block is-hidden" ng-class-even="'cv-timeline-block-even'"></div>
            </div>
        </section>

        <section id="competences" ng-show="activeSection=='competences'">
            <h2>Competences</h2>
            <div competence element="competence" ng-repeat="competence in sections.competences"></div>
        </section>

        <section id="outils" ng-show="activeSection=='outils'">
            <h2>Outils</h2>
            <div outil element="outil" ng-repeat="outil in sections.outils"></div>
        </section>

        <section id="langues" ng-show="activeSection=='langues'">
            <h2>Langues</h2>
            <div langue element="langue" ng-repeat="langue in sections.langues"></div>
        </section>

        <!--<section id="logiciels" ng-repeat="logiciel in logiciels">
            <h2>Logiciels</h2>
            <div logiciel info="logiciel"></div>
        </section>

        <section id="langues" ng-repeat="langue in langues">
            <h2>Langues</h2>
            <div langue info="langue"></div>
        </section>-->
    </div>

    <!-- Scripts -->
    <!-- Vendors -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- End Vendors -->
    <script type="text/javascript" src="js/main.js"></script>
    <!-- Controllers -->
    <script type="text/javascript" src="js/controllers/MainController.js"></script>
    <!-- End Controllers -->
    <!-- Services -->
    <script type="text/javascript" src="js/services/dataFetch.js"></script>
    <!-- End Services -->
    <!-- Directives -->
    <script type="text/javascript" src="js/directives/experience.js"></script>
    <script type="text/javascript" src="js/directives/competence.js"></script>
    <script type="text/javascript" src="js/directives/outil.js"></script>
    <script type="text/javascript" src="js/directives/langue.js"></script>
    <!-- End Directives -->
    <!-- End Scripts -->
</body>

</html>