<div class="timeline-block-info">
  <img src="img/{{element.id}}.png" alt="Logo {{element.id}}" class="timeline-block-logo" />
  <div class="timeline-block-date">
    <p>
      <span ng-hide="{{element.dateFin}}"></span>{{ element.dateDebut | formatDate | date: 'MMMM yyyy' }}<span
        ng-show="{{element.dateFin}}"
        ><br />{{ element.dateFin | formatDate | date: 'MMMM yyyy' }}</span
      >
    </p>
  </div>
</div>
<div class="timeline-block-content">
  <p class="timeline-block-title">{{ element.nom }}</p>
  <p class="timeline-block-description">{{ element.description }}</p>
  <div class="timeline-block-location"><p>{{ element.lieu }}</p></div>
  <div class="timeline-block-type"><p>{{ element.type }}</p></div>
</div>
<div class="timeline-block-modal">
  <div class="timeline-block-modal-content">
    <p>{{ element.nom }}</p>
    <p>{{ element.description }}</p>
    <p>{{ element.lieu }}</p>
    <p>{{ element.type }}</p>
    <p>Site web:</p>
    <a href="#" class="modal-close"><i class="fa fa-times"></i></a>
  </div>
</div>
<div class="timeline-block-join"></div>
